@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  resize: none;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.header {
  padding: 28px 0;
}
.header .header-menu__item a {
  color: #A0A0A0; /* обычный цвет текста */
  background-color: white; /* обычный фон */
}
.header .header-menu__item a.active {
  color: white; /* цвет текста для активного элемента */
  background-color: black; /* фон для активного элемента */
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__left {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.header-nav__left .header-menu {
  display: flex;
  column-gap: 15px;
}
.header-nav__left .header-menu a {
  font-family: "Open Sans";
  font-size: 600;
  font-weight: 16px;
  line-height: 21.79px;
  color: #330400;
}
.header-nav__right .header-contacts {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.sales {
  padding: 10px 0 20px;
}

.sales-top__boxes {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sales-top__box__title {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 32px;
  line-height: 43.71px;
  color: #121212;
  margin-bottom: 18px;
}
.sales-top__box__search {
  border-radius: 8px;
  border: 1px solid #e2e2e2;
  padding: 12px 10px;
  width: 340px;
  display: flex;
  column-gap: 10px;
  align-items: center;
  position: relative;
  justify-content: center;
}
.sales-top__box__search input {
  width: 100%;
  border: none;
  outline: 0;
}
.sales-top__box__search span {
  position: relative;
  top: 3px;
}
.sales-top__links {
  display: flex;
  column-gap: 24px;
  border-bottom: 1px solid;
  padding-bottom: 12px;
  border-image-source: linear-gradient(0deg, #a0a0a0, #a0a0a0), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.sales-top__links a {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 16px;
  line-height: 21.86px;
  color: #525252;
}
.sales-top__links a:hover {
  color: #330400;
}
.sales-top__orders {
  margin-top: 24px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.sales-top__order {
  padding: 16px;
  border: 1px solid #E2E2E2;
  border-radius: 6px;
  width: 234px;
}
.sales-top__order__title {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 16px;
  line-height: 21.86px;
  color: #000000;
  margin-bottom: 8px;
}
.sales-top__order__price {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 24px;
  line-height: 32.78px;
  color: #000000;
}
.sales-top__order__price span {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 20px;
  line-height: 27.32px;
  color: #888888;
  display: inline-block;
  padding: 0 12px;
}
.sales-top__nav {
  padding: 18px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sales-top__menu {
  display: flex;
  column-gap: 8px;
  align-items: center;
}
.sales-top__menu .sales-top__link {
  border-radius: 30px;
  border: 1.5px solid #E2E2E2;
  padding: 4px 12px;
  font-family: "Inter";
  font-size: 500;
  font-weight: 14px;
  line-height: 22.86px;
  color: #A0A0A0;
  cursor: pointer;
}
.sales-top__filter {
  display: flex;
  column-gap: 24px;
}
.sales-top__filter div {
  display: flex;
  align-items: center;
  column-gap: 3.5px;
  padding: 7.5px 0 7.5px 0;
  position: relative;
}
.sales-top__filter div p {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 22.86px;
  color: #447981;
}
.sales-top__filter div:first-child::after {
  position: absolute;
  content: "";
  display: block;
  border-right: 1px solid #ECECEC;
  width: 1px;
  height: 23px;
  right: -12px;
}
.sales-top__filter div span {
  display: inline-block;
}

.sales-products, .sales-product__nav, .sales-products-goods__to__order {
  display: flex;
  flex-wrap: wrap;
  min-height: auto;
  cursor: pointer;
}
.sales-products .sales-product, .sales-product__nav .sales-product, .sales-products-goods__to__order .sales-product {
  padding: 6px;
  display: flex;
}
.sales-products .sales-product:first-child, .sales-product__nav .sales-product:first-child, .sales-products-goods__to__order .sales-product:first-child {
  background: #ECFDF3;
}
.sales-products .sales-product:nth-child(odd), .sales-product__nav .sales-product:nth-child(odd), .sales-products-goods__to__order .sales-product:nth-child(odd) {
  background: #F5FEFF;
}
.sales-products .sales-product__id, .sales-product__nav .sales-product__id, .sales-products-goods__to__order .sales-product__id {
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 19.12px;
  color: #666666;
  padding: 6px 28px 0 6px;
}
.sales-products .sales-product__id__user, .sales-product__nav .sales-product__id__user, .sales-products-goods__to__order .sales-product__id__user {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 19.12px;
  color: #447981;
  padding: 6px 6px 0 6px;
  text-decoration: underline;
}
.sales-products .sales-product__time__block, .sales-product__nav .sales-product__time__block, .sales-products-goods__to__order .sales-product__time__block {
  padding: 6px 6px 0 6px;
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
}
.sales-products .sales-product__status, .sales-product__nav .sales-product__status, .sales-products-goods__to__order .sales-product__status {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 12px;
  line-height: 18px;
  color: #b37b0e;
  list-style-type: disc;
  padding: 6px 6px 0 6px;
  width: 146px;
}
.sales-products .sales-product__product, .sales-product__nav .sales-product__product, .sales-products-goods__to__order .sales-product__product {
  width: 230px;
  padding: 6px 6px 0 6px;
}
.sales-products .sales-product__product .sales-product__count, .sales-product__nav .sales-product__product .sales-product__count, .sales-products-goods__to__order .sales-product__product .sales-product__count {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
}
.sales-products .sales-product__product .sales-product__title, .sales-product__nav .sales-product__product .sales-product__title, .sales-products-goods__to__order .sales-product__product .sales-product__title {
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
}
.sales-products .sales-product__product .sales-product__title span, .sales-product__nav .sales-product__product .sales-product__title span, .sales-products-goods__to__order .sales-product__product .sales-product__title span {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 14px;
  line-height: 19.12px;
  color: #447981;
  text-decoration: underline;
}
.sales-products .sales-product__price, .sales-product__nav .sales-product__price, .sales-products-goods__to__order .sales-product__price {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
  padding: 6px 14px 0 6px;
  width: 80px;
}
.sales-products .sales-product__author, .sales-product__nav .sales-product__author, .sales-products-goods__to__order .sales-product__author {
  padding: 6px 6px 6px 6px;
}
.sales-products .sales-product__author .sales-product__user, .sales-product__nav .sales-product__author .sales-product__user, .sales-products-goods__to__order .sales-product__author .sales-product__user {
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
  margin-bottom: 2px;
}
.sales-products .sales-product__author .sales-product__rating, .sales-product__nav .sales-product__author .sales-product__rating, .sales-products-goods__to__order .sales-product__author .sales-product__rating {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 14px;
  line-height: 19.12px;
  color: #447981;
  margin-bottom: 2px;
}
.sales-products .sales-product__author .sales-product__id__product, .sales-product__nav .sales-product__author .sales-product__id__product, .sales-products-goods__to__order .sales-product__author .sales-product__id__product {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 19.12px;
  color: #525252;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.sales-products .sales-product__author button, .sales-product__nav .sales-product__author button, .sales-products-goods__to__order .sales-product__author button {
  background: #8cdcde;
  border: none;
  outline: 0;
  padding: 8px 12px;
  font-family: "Manrope";
  font-size: 800;
  font-weight: 14px;
  line-height: 19.12px;
  color: #000;
  border-radius: 10px;
}
.sales-products .sales-product__address, .sales-product__nav .sales-product__address, .sales-products-goods__to__order .sales-product__address {
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
  padding: 6px 6px 0 6px;
  width: 156px;
}
.sales-products .sales-product__punkt, .sales-product__nav .sales-product__punkt, .sales-products-goods__to__order .sales-product__punkt {
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
  padding: 6px 6px 0 6px;
  width: 66px;
}
.sales-products .sales-product__price, .sales-product__nav .sales-product__price, .sales-products-goods__to__order .sales-product__price {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
  padding: 6px 39px 0 6px;
}
.sales-products .sales-product__punkt_status, .sales-product__nav .sales-product__punkt_status, .sales-products-goods__to__order .sales-product__punkt_status {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 15px;
  color: #1b1d1a;
  padding: 9px 14.5px;
  border: 2px solid #8CDCDE;
  border-radius: 10px;
  width: 138px;
  height: 45px;
}

.sale-pogination {
  display: flex;
  justify-content: end;
  column-gap: 55px;
  padding-top: 32px;
  cursor: pointer;
}
.sale-pogination p {
  display: flex;
  column-gap: 8px;
  align-items: center;
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
}
.sale-pogination__text1 {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 19.12px;
  color: #757575;
}
.sale-pogination__1 {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 19.12px;
  color: #fff;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale-pogination__2 {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale-pogination__3 {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 19.12px;
  color: #1b1d1a;
  display: inline-block;
  width: 143px;
  height: 32px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sales-top__link.active {
  color: white; /* цвет текста для активного элемента */
  background-color: black; /* фон для активного элемента */
}

.modal-add-order,
.modal-add-edit {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s;
}
.modal-add-order__content,
.modal-add-edit__content {
  cursor: pointer;
  background: white;
  max-width: 802px;
  width: 100%;
  min-height: 800px;
  border-radius: 8px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translate(-50px, -50%);
}
.modal-add-order__content .modal-close,
.modal-add-edit__content .modal-close {
  cursor: pointer;
  z-index: 999;
}
.modal-add-order__nav,
.modal-add-edit__nav {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #f5f5f5;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-bottom: 16px;
}
.modal-add-order__nav p,
.modal-add-edit__nav p {
  font-family: "Manrope";
  font-size: 800;
  font-weight: 20px;
  line-height: 18px;
  color: #000000;
}
.modal-add-order__nav p span,
.modal-add-edit__nav p span {
  font-family: "Manrope";
  font-size: 800;
  font-weight: 20px;
  line-height: 18px;
  color: #808080;
}
.modal-add-order__icons,
.modal-add-edit__icons {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 16px;
}
.modal-add-order__icons .modal-add-order__icon,
.modal-add-edit__icons .modal-add-order__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
}
.modal-add-order__icons .modal-add-order__icon div,
.modal-add-edit__icons .modal-add-order__icon div {
  position: relative;
  top: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #717171;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-add-order__icons .modal-add-order__icon .green,
.modal-add-edit__icons .modal-add-order__icon .green {
  background: #ecfdf3;
  border: none;
}
.modal-add-order__icons .modal-add-order__icon .green + p,
.modal-add-edit__icons .modal-add-order__icon .green + p {
  font-family: "Manrope";
  font-size: 800;
  font-weight: 20px;
  line-height: 22px;
  color: #027a48;
}
.modal-add-order__icons .modal-add-order__icon p,
.modal-add-edit__icons .modal-add-order__icon p {
  font-family: "Manrope";
  font-size: 800;
  font-weight: 20px;
  line-height: 22px;
  color: #000000;
}
.modal-add-order__input,
.modal-add-edit__input {
  padding: 16px 16px 0 16px;
}
.modal-add-order__input__title,
.modal-add-edit__input__title {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 16px;
  line-height: 21.86px;
  color: #121212;
  margin-bottom: 16px;
}
.modal-add-order__input__search,
.modal-add-edit__input__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 340px;
  border: 1px solid #e2e2e2;
  padding: 12px;
  border-radius: 4px;
}
.modal-add-order__input__search input,
.modal-add-edit__input__search input {
  border: none;
  outline: 0;
}
.modal-add-order__product,
.modal-add-edit__product {
  padding: 16px;
}
.modal-add-order__product__title,
.modal-add-edit__product__title {
  margin: 16px 0;
  font-family: "Manrope";
  font-size: 600;
  font-weight: 16px;
  line-height: 21.86px;
  color: #121212;
}
.modal-add-order__product__title span,
.modal-add-edit__product__title span {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 19.12px;
  color: #717171;
}
.modal-add-order__product__summa,
.modal-add-edit__product__summa {
  background: #fbd6c6;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  border-radius: 4px;
}
.modal-add-order__product__summa p,
.modal-add-edit__product__summa p {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 20px;
  color: #121212;
}
.modal-add-order__product__boxes,
.modal-add-edit__product__boxes {
  display: flex;
  column-gap: 8px;
  margin-top: 8px;
}
.modal-add-order__product__box,
.modal-add-edit__product__box {
  display: flex;
  position: relative;
  padding: 16px;
  column-gap: 12px;
}
.modal-add-order__product__box:nth-child(1),
.modal-add-edit__product__box:nth-child(1) {
  width: 45%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1490196078);
}
.modal-add-order__product__box:nth-child(2),
.modal-add-edit__product__box:nth-child(2) {
  width: 55%;
  flex-direction: column;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 0;
}
.modal-add-order__product__box:nth-child(2) > div,
.modal-add-edit__product__box:nth-child(2) > div {
  display: flex;
  justify-content: space-between;
}
.modal-add-order__product__box:nth-child(2) > div:nth-child(1),
.modal-add-edit__product__box:nth-child(2) > div:nth-child(1) {
  padding: 11px 34px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid #808080;
  background: #f5f5f5;
}
.modal-add-order__product__box:nth-child(2) > div:nth-child(1) P,
.modal-add-edit__product__box:nth-child(2) > div:nth-child(1) P {
  font-family: "Manrope";
  font-size: 500;
  font-weight: 14px;
  line-height: 18.2px;
  color: #000000;
}
.modal-add-order__product__box:nth-child(2) > div:nth-child(2),
.modal-add-edit__product__box:nth-child(2) > div:nth-child(2) {
  padding: 16px 15px 16px 34px;
  display: flex;
  align-items: center;
}
.modal-add-order__product__box:nth-child(2) > div:nth-child(2) p,
.modal-add-edit__product__box:nth-child(2) > div:nth-child(2) p {
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 18.2px;
  color: #000000;
}
.modal-add-order__product__box:nth-child(2) > div:nth-child(2) p:nth-child(3),
.modal-add-edit__product__box:nth-child(2) > div:nth-child(2) p:nth-child(3) {
  border: 1px solid #888;
  padding: 8px 20px;
  border-radius: 10px;
}
.modal-add-order__product__box:nth-child(2) > div:nth-child(2) p button,
.modal-add-edit__product__box:nth-child(2) > div:nth-child(2) p button {
  width: 13px;
  height: 13px;
  border: 1px solid #888888;
  color: #808080;
  border-radius: 2px;
  line-height: 13px;
  background: white;
  cursor: pointer;
}
.modal-add-order__product__box:nth-child(2) > div:nth-child(3),
.modal-add-edit__product__box:nth-child(2) > div:nth-child(3) {
  padding: 20px 0px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
  column-gap: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 18.2px;
  color: #ff5745;
}
.modal-add-order__product__box img,
.modal-add-edit__product__box img {
  width: 84px;
  height: auto;
  border-radius: 3px 0px 0px 0px;
}
.modal-add-order__product__box__clear,
.modal-add-edit__product__box__clear {
  position: absolute;
  right: 16px;
}
.modal-add-order__product__box__content,
.modal-add-edit__product__box__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-add-order__product__box__text h3,
.modal-add-edit__product__box__text h3 {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 20px;
  color: #121212;
  text-decoration: underline;
}
.modal-add-order__product__box__text p,
.modal-add-edit__product__box__text p {
  font-family: "Manrope";
  font-size: 400;
  font-weight: 14px;
  line-height: 20px;
  color: #121212;
}
.modal-add-order__product__box__price,
.modal-add-edit__product__box__price {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 20px;
  color: #121212;
}
.modal-add-order__product__footer,
.modal-add-edit__product__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.modal-add-order__product__footer div,
.modal-add-edit__product__footer div {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 20px;
  line-height: 18px;
  color: #000000;
}
.modal-add-order__product__footer div span,
.modal-add-edit__product__footer div span {
  font-family: "Manrope";
  font-size: 600;
  font-weight: 20px;
  line-height: 18px;
  color: #ff5745;
}
.modal-add-order__product__footer div button,
.modal-add-edit__product__footer div button {
  padding: 10px 41px;
  border-radius: 20px;
  border: none;
  outline: 0;
}
.modal-add-order__product__footer div button:nth-child(1),
.modal-add-edit__product__footer div button:nth-child(1) {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 20px;
  color: #330400;
  background: #fff0ea;
}
.modal-add-order__product__footer div button:nth-child(2),
.modal-add-edit__product__footer div button:nth-child(2) {
  font-family: "Manrope";
  font-size: 700;
  font-weight: 14px;
  line-height: 20px;
  color: #fff;
  background: #ff5745;
}

.modal-add-edit .modal-add-order__product__boxes {
  flex-direction: column;
}
.modal-add-edit .modal-add-order__product__boxes > div {
  width: 50%;
}
.modal-add-edit .modal-add-order__product__box {
  width: 50%;
}
.modal-add-edit .modal-add-order__product__box:nth-child(2) {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  padding: 16px;
  border: none;
}

.sales-top__nav {
  position: relative;
}

.filter-tab {
  width: 540px;
  min-height: 474px;
  position: absolute;
  right: 0;
  top: 66px;
  background: white;
  padding: 16px;
  border: 1px solid #F2F4F7;
  box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.031372549);
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.0784313725);
  border-radius: 8px;
}

.tabs {
  display: flex;
  column-gap: 15px;
  cursor: pointer;
}
.tabs-btns {
  width: 185px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: 1px solid #E2E2E2;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  margin-right: 5px;
  background: white;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.tab-button.active {
  background-color: #F5F5F5;
  border-top-left-radius: 4px;
}

.tab-content {
  display: none;
  width: 290px;
}

.tab-content.active {
  display: block;
}

/*# sourceMappingURL=style.css.map */
